In [1]:
## importing the libs required

import pandas as pd

import numpy as np

import zipfile

import kaggle

OSError: Could not find kaggle.json. Make sure it's located in C:\Users\user\.kaggle. Or use the environment method. See setup instructions at https://github.com/Kaggle/kaggle-api/

In [2]:
pip install kaggle

Requirement already satisfied: kaggle in c:\users\user\anaconda3\lib\site-packages (1.6.17)Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: requests in c:\users\user\anaconda3\lib\site-packages (from kaggle) (2.27.1)
Requirement already satisfied: certifi>=2023.7.22 in c:\users\user\anaconda3\lib\site-packages (from kaggle) (2024.8.30)
Requirement already satisfied: six>=1.10 in c:\users\user\anaconda3\lib\site-packages (from kaggle) (1.16.0)
Requirement already satisfied: python-slugify in c:\users\user\anaconda3\lib\site-packages (from kaggle) (5.0.2)
Requirement already satisfied: tqdm in c:\users\user\anaconda3\lib\site-packages (from kaggle) (4.64.0)
Requirement already satisfied: python-dateutil in c:\users\user\anaconda3\lib\site-packages (from kaggle) (2.8.2)
Requirement already satisfied: urllib3 in c:\users\user\anaconda3\lib\site-packages (from kaggle) (1.26.9)
Requirement already satisfied: bleach in c:\users\user\anaconda3\lib\site-packages (from kaggle) (4.1.0)
Requirement already satisfied: packaging in c:\users\user\anaconda3\lib\site-packages (from bleach->kaggle) (21.3)
Requirement already satisfied: webencodings in c:\users\user\anaconda3\lib\site-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\user\anaconda3\lib\site-packages (from packaging->bleach->kaggle) (3.0.4)
Requirement already satisfied: text-unidecode>=1.3 in c:\users\user\anaconda3\lib\site-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\user\anaconda3\lib\site-packages (from requests->kaggle) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\user\anaconda3\lib\site-packages (from requests->kaggle) (3.3)
Requirement already satisfied: colorama in c:\users\user\anaconda3\lib\site-packages (from tqdm->kaggle) (0.4.4)

In [2]:
!kaggle datasets download -d hmavrodiev/london-bike-sharing-dataset

Dataset URL: https://www.kaggle.com/datasets/hmavrodiev/london-bike-sharing-dataset
License(s): other
london-bike-sharing-dataset.zip: Skipping, found more recently modified local copy (use --force to force download)

In [3]:
zipfile_name = 'london-bike-sharing-dataset.zip'

with zipfile.ZipFile(zipfile_name,'r') as file:
    file.extractall()

In [4]:
bikes = pd.read_csv('london_merged.csv')

In [5]:
bikes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   timestamp     17414 non-null  object
 1   cnt           17414 non-null  int64
 2   t1            17414 non-null  float64
 3   t2            17414 non-null  float64
 4   hum           17414 non-null  float64
 5   wind_speed    17414 non-null  float64
 6   weather_code  17414 non-null  float64
 7   is_holiday    17414 non-null  float64
 8   is_weekend    17414 non-null  float64
 9   season        17414 non-null  float64
dtypes: float64(8), int64(1), object(1)
memory usage: 1.3+ MB

In [6]:
bikes.sample(10)

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
14184,2016-08-20 19:00:00,919,18.5,18.5,66.0,33.0,7.0,0.0,1.0,1.0
14502,2016-09-04 14:00:00,2368,20.0,20.0,60.0,28.0,3.0,0.0,1.0,2.0
10382,2016-03-13 19:00:00,574,5.0,2.0,81.0,13.0,1.0,0.0,1.0,0.0
1431,2015-03-04 17:00:00,2761,9.0,6.0,54.0,18.5,2.0,0.0,0.0,0.0
10054,2016-02-29 03:00:00,24,3.0,1.0,81.0,7.0,2.0,0.0,0.0,3.0
13426,2016-07-19 22:00:00,1417,22.5,22.5,71.0,19.5,1.0,0.0,0.0,1.0
3260,2015-05-20 04:00:00,39,7.0,4.0,81.0,17.0,1.0,0.0,0.0,0.0
1912,2015-03-24 18:00:00,2223,8.0,7.0,62.0,7.0,7.0,0.0,0.0,0.0
1905,2015-03-24 11:00:00,795,9.0,8.0,60.0,9.0,2.0,0.0,0.0,0.0
5346,2015-08-15 09:00:00,976,16.0,16.0,70.0,18.0,2.0,0.0,1.0,1.0

In [7]:
bikes["season"].unique()

array([3., 0., 1., 2.])

In [8]:
bikes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   timestamp     17414 non-null  object
 1   cnt           17414 non-null  int64
 2   t1            17414 non-null  float64
 3   t2            17414 non-null  float64
 4   hum           17414 non-null  float64
 5   wind_speed    17414 non-null  float64
 6   weather_code  17414 non-null  float64
 7   is_holiday    17414 non-null  float64
 8   is_weekend    17414 non-null  float64
 9   season        17414 non-null  float64
dtypes: float64(8), int64(1), object(1)
memory usage: 1.3+ MB

## data is good to go no null values

In [9]:
bikes.shape

(17414, 10)

In [10]:
bikes

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...
17409,2017-01-03 19:00:00,1042,5.0,1.0,81.0,19.0,3.0,0.0,0.0,3.0
17410,2017-01-03 20:00:00,541,5.0,1.0,81.0,21.0,4.0,0.0,0.0,3.0
17411,2017-01-03 21:00:00,337,5.5,1.5,78.5,24.0,4.0,0.0,0.0,3.0
17412,2017-01-03 22:00:00,224,5.5,1.5,76.0,23.0,4.0,0.0,0.0,3.0
17413,2017-01-03 23:00:00,139,5.0,1.0,76.0,22.0,2.0,0.0,0.0,3.0

In [11]:
bikes.weather_code.value_counts()

1.0     6150
2.0     4034
3.0     3551
7.0     2141
4.0     1464
26.0      60
10.0      14
Name: weather_code, dtype: int64

In [12]:
bikes.season.value_counts()

0.0    4394
1.0    4387
3.0    4330
2.0    4303
Name: season, dtype: int64

## specifying new column names that i want to use

bikes.columns

In [13]:
new_column_dict = {
    "timestamp":"time",
    "cnt":"count",
    "t1":"temp_real_C",
    "t2":"temp_feels_like_C",
    "hum":"humidity_percent",
    "wind_speed":"wind_speed_kmp",
    "weather_code":"weather",
    "is_holiday":"Is_holiday",
    "is_weekend":"is_weekend",
    "season":"season"
}

#rename columnname

bikes.rename(new_column_dict, axis=True, inplace=True)

In [15]:
bikes.sample(10)

,time,count,temp_real_C,temp_feels_like_C,humidity_percent,wind_speed_kmp,weather,Is_holiday,is_weekend,season
4030,2015-06-21 09:00:00,802,16.5,16.5,68.0,24.0,3.0,0.0,1.0,1.0
13331,2016-07-15 23:00:00,954,19.0,19.0,78.0,21.0,4.0,0.0,0.0,1.0
12291,2016-06-02 00:00:00,213,12.0,12.0,88.0,17.5,3.0,0.0,0.0,1.0
5225,2015-08-10 08:00:00,4109,20.0,20.0,75.5,15.0,3.0,0.0,0.0,1.0
11960,2016-05-19 05:00:00,122,11.0,11.0,88.0,7.5,7.0,0.0,0.0,0.0
1560,2015-03-10 02:00:00,37,8.5,5.5,82.0,16.0,1.0,0.0,0.0,0.0
13939,2016-08-10 11:00:00,1225,17.0,17.0,52.0,15.0,2.0,0.0,0.0,1.0
1998,2015-03-28 08:00:00,454,12.0,12.0,88.0,20.5,3.0,0.0,1.0,0.0
12476,2016-06-09 17:00:00,4453,20.0,20.0,56.0,15.0,1.0,0.0,0.0,1.0
13235,2016-07-11 23:00:00,389,16.0,16.0,83.0,13.0,1.0,0.0,0.0,1.0

In [16]:
bikes.humidity_percent=bikes.humidity_percent/100

In [18]:
bikes.humidity_percent

0        0.930
1        0.930
2        0.965
3        1.000
4        0.930
         ...
17409    0.810
17410    0.810
17411    0.785
17412    0.760
17413    0.760
Name: humidity_percent, Length: 17414, dtype: float64

In [19]:
season_dict = {
    "0.0":"spring",
    "1.0":"summer",
    "2.0":"autumn",
    "3.0":"winter"
}

In [21]:
weather_dict = {
    "1.0":"Clear",
    "2.0":"Scattered clouds",
    "3.0":"Broken clouds",
    "4.0":"Cloudy",
    "7.0":"Rain",
    "10.0":"Rain with thunderstorm",
    "26.0":"Snowfall"
}

In [26]:
## changing the data type

print(bikes['season'].dtype)

float64

In [27]:
bikes.season=bikes.season.astype('str')

In [28]:
## changing the values with dictionary

bikes.season = bikes.season.map(season_dict)

In [29]:
print(bikes["weather"].dtype)

float64

In [30]:
bikes.weather = bikes.weather.astype('str')

In [31]:
bikes.weather = bikes.weather.map(weather_dict)

In [34]:
bikes.sample(10)

,time,count,temp_real_C,temp_feels_like_C,humidity_percent,wind_speed_kmp,weather,Is_holiday,is_weekend,season
825,2015-02-07 10:00:00,812,4.0,1.5,0.870,10.0,Broken clouds,0.0,1.0,winter
17353,2017-01-01 11:00:00,456,10.0,8.0,0.850,14.0,Broken clouds,0.0,1.0,winter
593,2015-01-28 18:00:00,2377,5.0,0.0,0.530,31.5,Clear,0.0,0.0,winter
4428,2015-07-07 23:00:00,564,16.5,16.5,0.610,24.0,Scattered clouds,0.0,0.0,summer
11259,2016-04-20 00:00:00,196,8.0,5.0,0.820,15.0,Clear,0.0,0.0,spring
15519,2016-10-16 23:00:00,210,14.5,14.5,0.910,9.0,Rain,0.0,1.0,autumn
4216,2015-06-29 03:00:00,62,16.0,16.0,0.720,14.0,Clear,0.0,0.0,summer
9375,2016-01-31 12:00:00,748,11.5,11.5,0.850,27.0,Broken clouds,0.0,1.0,winter
3067,2015-05-12 03:00:00,60,12.5,12.5,0.695,14.0,Clear,0.0,0.0,spring
3537,2015-05-31 17:00:00,1372,15.0,15.0,0.590,30.5,Broken clouds,0.0,1.0,spring

In [35]:
bikes.head(10)

,time,count,temp_real_C,temp_feels_like_C,humidity_percent,wind_speed_kmp,weather,Is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,0.930,6.0,Broken clouds,0.0,1.0,winter
1,2015-01-04 01:00:00,138,3.0,2.5,0.930,5.0,Clear,0.0,1.0,winter
2,2015-01-04 02:00:00,134,2.5,2.5,0.965,0.0,Clear,0.0,1.0,winter
3,2015-01-04 03:00:00,72,2.0,2.0,1.000,0.0,Clear,0.0,1.0,winter
4,2015-01-04 04:00:00,47,2.0,0.0,0.930,6.5,Clear,0.0,1.0,winter
5,2015-01-04 05:00:00,46,2.0,2.0,0.930,4.0,Clear,0.0,1.0,winter
6,2015-01-04 06:00:00,51,1.0,-1.0,1.000,7.0,Cloudy,0.0,1.0,winter
7,2015-01-04 07:00:00,75,1.0,-1.0,1.000,7.0,Cloudy,0.0,1.0,winter
8,2015-01-04 08:00:00,131,1.5,-1.0,0.965,8.0,Cloudy,0.0,1.0,winter
9,2015-01-04 09:00:00,301,2.0,-0.5,1.000,9.0,Broken clouds,0.0,1.0,winter

In [37]:
bikes.to_excel('london_bikes_final.xlsx', sheet_name="Data")